.smallHeading{
    margin-top: 6rem;
    font-size: 1.5rem;
    font-weight: lighter;
    font-family:system-ui;
    text-align: center;
    width: 100%;
}

.bigHeading{
    font-size: 3.35rem;
    font-weight: lighter;
    font-family:system-ui;
    text-align: center;
    width: 100%;
    text-transform: uppercase;

}

.blackbgHeading{
    font-size: 4rem;
    font-weight: lighter;
    font-family:system-ui;
    text-align: right;
    width: 100%;
}